extends ../layout
include form-fields

block content
  h1 Edit #{program.name}
  h2 Details
  form(action=helper.program.readPath(program.id), method="POST")
    mixin program-form-fields(program)
    input(type="hidden", name="_method", value="put")
    input(type="submit", value="Save")
  h2 Files
  table
    each file in program.files
      tr
        td= file
  h3 Upload file
  form(action=helper.program.filesPath(program.id), method="POST", enctype="multipart/form-data")
    div
      label(for="file") File
      input#file(type="file", name="file")
    div
      label(for="name") Name
      input#name(name="name")
    div
      input(type="submit", value="Upload")
