extends ../layout

block content
  h1 Programs
  table
    thead
      tr
        th Program
    tbody
      each program in programs
        tr
          td
            a(href=helper.program.editPath(program.id))= program.name
