extends ../layout
include form-fields

block content
  h1 New program
  form(action=helper.path(), method="post")
    mixin program-form-fields({type: 'html', entry: 'index.html'})
    div
      input(type="submit",value="Save")
