doctype 5
html.programs-player(manifest='play/cache.appcache')
  head
    title Miniand Digital Signage
    link(rel='stylesheet', href=css('program_play'))
  body
    iframe(webkitallowfullscreen, mozallowfullscreen, allowfullscreen, src=entryPath)
