extends ../layout

block content
  h1 Signs
  table
    thead
      tr
        th Sign
    tbody
      each sign in signs
        tr
          td
            a(href=helper.sign.editPath(sign.id))= sign.name
