doctype 5
html.signs-player(manifest='play/cache.appcache')
  head
    title Miniand Digital Signage
    link(rel='stylesheet', href=css('sign-play'))
    each file in js('sign-play')
      script(src=file)
  body
    iframe(webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
  script#sign-bootstrap(type="text/javascript", data-sign=JSON.stringify(sign), data-programs=JSON.stringify(programs))
    var container = document.querySelector('#sign-bootstrap');
    var rawSign = JSON.parse(container.getAttribute('data-sign'));
    var rawPrograms = JSON.parse(container.getAttribute('data-programs'));
    var programs = [];
    for (var i in rawPrograms) {
      var p = new Miniand.Signs.Program();
      p.src = rawPrograms[i].src;
      programs.push(p);
    }
    var sign = new Miniand.Signs.Sign();
    sign.programs = programs;
    var element = document.querySelector('.signs-player iframe');
    var ctrl = new Miniand.Signs.SignController(sign, element);
    ctrl.limitProgramLength = true;
    ctrl.maximumProgramLength = 5000;
    ctrl.run();
